{{#if isCheck}}
<div class="flex">
	<div class="fz-3" style="width:50%;padding-top:2vw">{{check}} Dart / {{darts}}</div>
	<div class="fz-6" style="color:#5cb85c"><i class="fa fa-check-circle"></i></div>
</div>
{{else}}
    <div class="flex">
        <div class="fz-4" style="width:50%;padding-top:2vw">{{ value }}</div>
        <div class="fz-6">{{ rest }}</div>
    </div>
{{/if}}
