{{#if isEncounter}}
<div class="well fz-2">
    <div class="flex" style="text-align: center;">
        <div>{{home}}</div>
        <div class="m-l-s m-r-s">vs.</div>
        <div>{{guest}}</div>
        <div class="m-l">{{homeSets}}</div>
        <div>:</div>
        <div>{{guestSets}}</div>
    </div>
</div>
{{/if}}

<div class="well fz-3">
    <div class="flex" style="text-align: center;">
        <div>{{p1Name}}</div>
        <div class="m-l-s m-r-s">vs.</div>
        <div>{{p2Name}}</div>
        <div class="m-l">{{p1Legs}}</div>
        <div>:</div>
        <div>{{p2Legs}}</div>
    </div>
</div>


<div class="well h2">
    <div class="flex">
		<div class="player1_matchInfoScores"></div>
        <div class="player2_matchInfoScores"></div>
    </div>
</div>
