<div style="background:lightgray;color:darkgray" class="fz-2 flex">
	<div>

		<div style="margin:0 4px;text-align: center">Average</div>
        <div style="text-align: center">{{ ave }}</div>
	</div>
    <div>
        <div style="margin:0 4px;text-align: center">60+</div>
        <div style="text-align: center">{{ s }}</div>
    </div>
    <div>
        <div style="margin:0 4px;text-align: center">100+</div>
        <div style="text-align: center">{{ t }}</div>
    </div>
    <div>
        <div style="margin:0 4px;text-align: center">140+</div>
        <div style="text-align: center">{{ t4 }}</div>
    </div>
    <div>
        <div style="margin:0 4px;text-align: center">180</div>
        <div style="text-align: center">{{ h8 }}</div>
    </div>
</div>
<div style="background:#e3e3e3;color:black">{{ name }}</div>
<div class="octopus_infoBoardScores"></div>
